<tr>
    <td class="text-center td-loading" colspan="{{columnLength}}">
        {{#if isRecordLoaded}}
            {{tableLoadedMessage}}
            {{ember-tabular-registry registryComplete=registryComplete}}
        {{else}}
            Loading...
        {{/if}}
    </td>
</tr>
