<tr>
    <td class="text-center td-loading" colspan="{{this.columnLength}}">
        {{#if this.isRecordLoaded}}
            {{this.tableLoadedMessage}}
            {{ember-tabular-registry registryComplete=this.registryComplete}}
        {{else}}
            Loading...
        {{/if}}
    </td>
</tr>
